<section id="about" class="container my-5 ">

  <div class="about-content">
    <div class="left-content">

      <div id="content-section" class="content container" data-aos="fade-right" data-aos-duration="900">
        <div style="display: flex;">
          <!-- <i class="fa-solid fa-gavel"></i> -->

          <p class="title-detail">
            Sobre nós
          </p>
        </div>
        <h2>
          <!-- Por que <span class="highlight">nós</span> -->
          Por que você precisa dos melhores advogados.
        </h2>
        <div class="hero-btn">
          <a class="view-more-btn mb-3"></a>
        </div>
        <p class="pb-3" style="font-size: larger;   font-weight: bold;">
          Um escritório de advocacia full service, reconhecido em diversos setores, com centenas de <span
            class="highlight">clientes satisfeitos</span>
          e especializado em Direito Comercial.
        </p>
      </div>
    </div>

    <div class="container" data-aos="fade-left" data-aos-duration="900">

      <p style="margin-top: 52px;">
        BDLP is one of the leading multi-disciplinary law firms in Dhaka, Bangladesh managed by lawyers in and around
        Dhaka. The law firm is one of the top law firms in Dhaka and represents both foreign and local clients. The firm
        operates as a partnership of several leading practicing.
      </p>

      <div class="d-flex ajust-margin">
        <div class="d-flex" style="margin-right: 2em;">
          <i class="fas fa-check custom-circle"></i>
          <p>Serving 13 years</p>
        </div>
        <div class="d-flex">
          <i class="fas fa-check custom-circle"></i>
          <p> Practical Commercial Solution
          </p>
        </div>
      </div>

      <div class="ajust-margin">
        <a type="button" class="btn btn-primary btn-lg ui-button mr-5" href="#reviews">
          Saiba mais
        </a>
      </div>
    </div>
  </div>


  <div id="about-img" class="container">
    <div class="about_service_box">
      <img loading="lazy" src="../../../assets/rick.png" style="margin-top: 1em;" class="img-fluid" alt="" />
      <div class="overlay"></div>

      <div class="service-text">
        <h5 style="text-transform: uppercase;">
          Ricardo Amaral
        </h5>
        <h4>
          <strong>We bring each client</strong>
        </h4>
      </div>
    </div>
    <div class="about_service_box">
      <img loading="lazy" src="../../../assets/rick.png" style="margin-top: 1em;" class="img-fluid" alt="" />
      <div class="overlay"></div>

      <div class="service-text">
        <h5 style="text-transform: uppercase;">
          Free Consultation
        </h5>
        <h4>
          <strong>We bring each client</strong>
        </h4>
      </div>
    </div>
    <div class="about_service_box">
      <img loading="lazy" src="../../../assets/rick.png" style="margin-top: 1em;" class="img-fluid" alt="" />
      <div class="overlay"></div>

      <div class="service-text">
        <h5 style="text-transform: uppercase;">
          Clayton
        </h5>
        <h4>
          <strong>We bring each client</strong>
        </h4>
      </div>
    </div>

  </div>
</section>