<section id="about" class="container my-5 ">

  <div class="about-content ">
    <div class="left-content">

      <div id="content-section" class="content container" data-aos="fade-right" data-aos-duration="900">
        <div style="display: flex;">
          <i class="fa-solid fa-gavel"></i>

          <p class="title-detail">
            Sobre nós
          </p>
        </div>
        <h2>
          <!-- Por que <span class="highlight">nós</span> -->
          Por que você precisa dos melhores advogados.
        </h2>
        <div class="hero-btn">
          <a class="view-more-btn mb-3"></a>
        </div>
        <p class="pb-3" style="font-size: larger;   font-weight: bold;">
          Um escritório de advocacia full service, reconhecido em diversos setores, com centenas de <span
            class="highlight">clientes satisfeitos</span>
          e especializado em Direito Comercial.
          

        </p>
        <a type="button" class="btn btn-primary btn-lg ui-button mr-5" href="#reviews">
          Saiba mais
        </a>
      </div>
    </div>

    <div class="container" data-aos="fade-left" data-aos-duration="900">
      <img loading="lazy" src="../../../assets/about-photo.png" style="margin-top: 1em;" class="img-fluid" alt="" />
    </div>
  </div>
</section>