<section id="home" class="spacement">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div id="banner" class="video-background bg-overlay bg-overlay-dark bg-section">

          <img src="../../../assets/background.jpg" alt="Banner Fallback" />

          <div id="banner-text" class="content container">
            <h1>
              <!-- <span class="highlight">Estética</span><br />
              Automotiva de <span class="highlight">Alto</span> Padrão -->
              <!-- Advocacia<br> <span class="highlight">Andrade</span> & <span class="highlight">Amaral</span> -->
              Advocacia<br> Andrade & Amaral
            </h1>
            <p class="pb-3" style="font-size: larger">
              serviços de reparo e automóveis para garantir que seu veículo tenha o
              melhor desempenho.<br />Nosso equipe qualificada de técnicos
              certificados.
            </p>
            <div id="hero-btn">
              <a href="https://wa.me/5511973752898?text=Olá, tudo bem? Gostaria de esclarecer algumas duvidas e saber mais sobre os serviços!"
                class="btn btn-primary btn-lg ui-button-wpp mr-5 ">
                Falar com especialista
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item">
        <div id="banner" class="video-background bg-overlay bg-overlay-dark bg-section">

          <img src="../../../assets/background2.jpg" alt="Banner Fallback" />

          <div id="banner-text" class="content2 container" style="z-index: 1;">
            <h1 style="color: var(--secondary-detail)">
              Qualidade que Você Confia
            </h1>
            <p class="pb-3" style="font-size: larger">
              Dedicação e tecnologia para cuidar do seu veículo.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- <app-cards></app-cards> -->
</section>