/* Mudar a cor do botão quando está expandido */
.accordion-button:not(.collapsed)  {
    background: var(--secondary-dark);
    /* Cor de fundo azul (pode trocar por qualquer cor que preferir) */
    border-color: var(--secondary-dark);
    /* Cor da borda do botão expandido (pode trocar por qualquer cor) */
    color: black;
    /* Cor do texto quando expandido */
}
.accordion-button.collapsed {
    background: var(--secondary-dark);
    /* Cor de fundo azul (pode trocar por qualquer cor que preferir) */
    border-color: var(--secondary-dark);
    /* Cor da borda do botão expandido (pode trocar por qualquer cor) */
    color: black;
    /* Cor do texto quando expandido */
}