<!-- Site footer -->
<footer id="contato" class="site-footer pb-5">
  <div id="footer" class="container">
    <!-- <div>
      <p>a</p>
    </div> -->
    <div>
      <img loading="lazy" src="../../../assets/logo.webp" class="container-fluid" alt="error" style="width:15em" />
    </div>
    <!-- <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="https://www.instagram.com/hirle.og">Guilherme Hirle</a>.
        </p>
      </div>

    </div> -->
  </div>
</footer>