<section id="services" class="container spacement">

  <div data-aos="fade-down" data-aos-duration="900">
    <div id="content-section" class="content container">
      <div style="display: flex;">
        <p class="title-detail">
          Serviços
        </p>
      </div>
      <h2>
        <!-- Os <span class="highlight">Melhores</span> Serviços -->
        Os Melhores Serviços
      </h2>
      <p class="pb-3" style="font-size: larger">
        Oferecemos uma ampla gama de serviços com foco em precisão e cuidado, garantindo que cada veículo receba o
        melhor tratamento. Nossa equipe especializada utiliza as técnicas mais avançadas para entregar resultados que
        superam as expectativas, proporcionando satisfação e confiança em cada atendimento.
      </p>
      <a class="view-more-btn"
        href="https://wa.me/5511973752898?text=Olá, tudo bem? Gostaria de esclarecer algumas duvidas e saber mais sobre os serviços!">Fale
        Conosco</a>
    </div>
  </div>

  <div class="container" data-aos="fade-left" data-aos-duration="1200">
    <img src="../../../assets/service-detail.webp" class="img-fluid" style="width: 36em;" alt="">
  </div>

</section>

<div class="container mt-4">
  <div class="row">
    <div *ngFor="let card of cards" class="col-lg-4 col-md-6 col-sm-12 card-spacement">
      <div class="about_practice_icontext floating-card" (click)="wppMessageOptions(card.title)" data-aos="fade-up"
        data-aos-duration="1200">

        <div class="about_practice_icon float-left">
          <i class="{{ card.image }}" style="width: 60px; margin: 0px 5px 0px 5px;"></i>
        </div>

        <div>
          <h4 style="padding-bottom: 0px;">{{ card.title }}</h4>
          <p>{{ card.description }}</p>
          <a class="view-more-btn" (click)="wppMessageOptions(card.title)" href="">Consultar</a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div id="sub-banner" data-aos="zoom-in">
  <img class="img-fluid" src="../../../assets/background-about.webp" alt="">
</div> -->