<div class="row">
    <div class="bg-overlay">
        <div class="container d-flex justify-content-center ">
            <div>
                <p class="title-detail">
                    Não perca mais tempo
                </p>
                <div class="d-flex">
                    <h2 style="color: var(--secondary-detail);">
                        Faça uma<br>consulta gratís
                    </h2>
                    <app-wpp-btn></app-wpp-btn>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">

    </div>
</div>