<div>
    <div class="bg-overlay d-flex  align-items-center">
        <div class="container d-flex justify-content-center" data-aos="fade-down" data-aos-duration="900">
            <div>
                <p class="title-detail text-center">
                    Não perca mais tempo
                </p>
                <div>
                    <h2 class="text-center mb-4" style="color: var(--secondary-detail);">
                        Faça uma consulta gratís
                    </h2>
                    <app-wpp-btn></app-wpp-btn>
                </div>
            </div>
        </div>
    </div>
</div>