<div class="cards container">
    <div class="row">
        <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-up" data-aos-duration="300">
            <div>
                <img src="../../../assets/Container.svg" class="mb-2" style="width: 100%;" alt="">
            </div>
            <div id="ui-card">
                <div class="card-ajust">
                    <div class="icon-circle mb-4">
                        <i class="fa-solid fa-car"></i>
                    </div>
                </div>
                <h4>Nossa Missão</h4>
                <p>Conectar pessoas a profissionais qualificados, promovendo confiança e eficiência.</p>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-up" data-aos-duration="600">
            <div>
                <img src="../../../assets/Container-1.svg" class="mb-2" style="width: 100%;" alt="">
            </div>
            <div id="ui-card">
                <div class="card-ajust">
                    <div class="icon-circle mb-4">
                        <i class="fa-solid fa-spray-can-sparkles"></i>
                    </div>
                </div>
                <h4>Nossa Visão</h4>
                <p>Ser a principal plataforma de serviços, reconhecida pela excelência e inovação inovação.</p>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-up" data-aos-duration="900">
            <div>
                <img src="../../../assets/Container-2.svg" class="mb-2" style="width: 100%;" alt="">
            </div>
            <div id="ui-card">
                <div class="card-ajust">
                    <div class="icon-circle mb-4">
                        <i class="fa-solid fa-car-side"></i>
                    </div>
                </div>
                <h4>Nosso Objetivo</h4>
                <p>Facilitar o dia a dia, proporcionando soluções práticas, rápidas e <br> eficientes.</p>
            </div>
        </div>
    </div>
</div>